<h3>Register:</h3>

<form action="/register" method="post">
  <input name="username" id="username" type="text" placeholder="username" />
    <input name="retype-username" id="retype-username" type="text" placeholder="retype username" />
  <input name="password" id="password" type="password" placeholder="password"/>
    <input name="retype-password" id="retype-password" type="password" placeholder="retype password"/>
  <input type="submit" />
</form>